/* style.css */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.card {
  background-color: #ffffff;

  border-radius: 8px; /* Add border-radius here for consistency */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.profile-photo {
  border-radius: 50%;
  object-fit: cover; /* Ensure the image fills the circle without distortion */
}

.card-title {
  margin-top: 50px; /* Adjust spacing */
  font-size: 1.5rem; /* Use rem for better scalability */
  text-align: center;
}

.image-slider {
  margin-top: 20px;
  width: 100%;
  overflow: hidden;
  position: relative;
  padding-top: 56.25%;
}

#slider-track {
  position: absolute;
  top: 0;
  left: 0;
  width: 300%;
  height: 100%; /* Fill parent's padding-top area */
  display: flex;
  transition: transform 0.5s ease-in-out;
  /* transform: translateX(0%); */ /* Initial position - JS will handle this */
}

#slider-track img {
  width: calc(100% / 3);
  height: 100%;
  object-fit: contain;
  flex-shrink: 0;
}

#prev-button,
#next-button {
  padding: 8px; /* Smaller buttons on mobile */
  font-size: 14px;
}

@media (min-width: 768px) {
  #prev-button,
  #next-button {
    padding: 12px; /* Larger buttons on desktop */
    font-size: 18px;
  }
}
